# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Build
dist/
build/
*.exe
node_modules/
frontend/node_modules

# Environment
.env
.env.local

# Logs
logs/
*.log

# Database
*.db
data/*.db

# Go
vendor/
*.o
*.a
backend/bin/

# Backup
*.bak
*.backup
